@using Sandbox.Network
@using Sandbox.Services
@using Sandbox.UI
@using System
@inherits Panel

@namespace Menu

<style>
	.name {
		font-family: Poppins;
		color: black;
		font-size: 24px;
		padding: 10px;
	}

	.value {
		font-family: Poppins;
		color: black;
		font-size: 24px;
		padding: 10px;
	}
</style>

<root style="width: 100%; flex-shrink: 0">
	<button style="width: 100%; flex-shrink: 0">
		<div class="horizontal-layout">
			<div class="name">
				@Stat.Title
			</div>
			<div class="value">
				@Stat.ValueString
			</div>
		</div>
	</button>
</root>

@code
{
	public Stats.PlayerStat Stat;

	/// <summary>
	/// the hash determines if the system should be rebuilt. If it changes, it will be rebuilt
	/// </summary>
	protected override int BuildHash() => System.HashCode.Combine( Stat );
}
